@* NewTickets.cshtml *@
<div class="tickets">
    <div class="ticket">
        <div class="ticket-header">
            <span class="ticket-id">Ticket# 2023-CS124</span>
            <span class="ticket-priority">Normal Priority</span>
        </div>
        <div class="ticket-body">
            <p>How to change my account settings?</p>
            <span class="ticket-time">Posted at 1:00 PM</span>
        </div>
        <div class="ticket-footer">
            <span class="ticket-author">Shakashi Patel</span>
            <a href="#">Open Ticket</a>
        </div>
    </div>
    <!-- Repeat ticket structure as needed -->
</div>
