@model Apptivate_UQMS_WebApp.Models.Account.UserProfileViewModel
@{
    ViewData["Title"] = "Home Page";
}

<p><strong>Name:</strong> @Model.User.Name</p>

<link rel="stylesheet" type="text/css" href="~/css/DashboardPage.css" />


    <!-- Query Statistics -->
    <div class="stats-grid">
        <div class="stat-card">
            <h2>Total Queries Submitted</h2>
            <p>24</p>
        </div>



        <div class="recent-activity">
            <h3>Recent Activity</h3>
            <ul>
                <li>Sonal closed "How to do my password?"</li>
                <!-- Repeat activity structure as needed -->
            </ul>
            <button>Show more</button>
        </div>
    </div>


    @section Scripts {
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.tab').on('click', function () {
                    var target = $(this).data('target');

                    $('.tab').removeClass('active');
                    $(this).addClass('active');

                    // Load the partial view based on the target
                    $('#ticketContent').load('/Home/' + target);
                });
            });
        </script>
    }
