/* _content/Apptivate_UQMS_WebApp/Views/Query/StudentQuery/NewQuery/AcademicQuery.cshtml.rz.scp.css */
/* _content/Apptivate_UQMS_WebApp/Views/Query/StudentQuery/NewQuery/AdministrativeQuery.cshtml.rz.scp.css */
/* _content/Apptivate_UQMS_WebApp/Views/Query/StudentQuery/NewQuery/CreateQuery.cshtml.rz.scp.css */
/* Container styling */
.create-query-container[b-pg7omlst7m] {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* General card styles */
.card[b-pg7omlst7m] {
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 300px;
}

    .card:hover[b-pg7omlst7m] {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.card-body[b-pg7omlst7m] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card title and text */
.card-title[b-pg7omlst7m] {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-text[b-pg7omlst7m] {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

/* Button styles */
.btn-primary[b-pg7omlst7m] {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s;
}

    .btn-primary:hover[b-pg7omlst7m] {
        background-color: #0056b3;
        color: white;
        transform: scale(1.05);
    }

/* Responsive design */
@media (max-width: 767px) {
    .card[b-pg7omlst7m] {
        min-height: 250px;
    }

    .card-title[b-pg7omlst7m] {
        font-size: 1.25rem;
    }

    .card-text[b-pg7omlst7m] {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card[b-pg7omlst7m] {
        min-height: 280px;
    }
}

@media (min-width: 992px) {
    .card[b-pg7omlst7m] {
        min-height: 300px;
    }
}
/* _content/Apptivate_UQMS_WebApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nyjeid8vsc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nyjeid8vsc] {
  color: #0077cc;
}

.btn-primary[b-nyjeid8vsc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nyjeid8vsc], .nav-pills .show > .nav-link[b-nyjeid8vsc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nyjeid8vsc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nyjeid8vsc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nyjeid8vsc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nyjeid8vsc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nyjeid8vsc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
