@model Apptivate_UQMS_WebApp.Models.KnowledgeBaseFAQ


<link rel="stylesheet" href="~/css/Faqs.css" asp-append-version="true">
@{
    ViewBag.Title = "FAQs and Guides";
}

<div class="container">
    <div class="header">
        <h1>FAQs and Guides</h1>
    </div>
    <div class="description">
        <p>
            Welcome to Guides page! Here, you'll find detailed guides to help you navigate our Query Management System effectively. Whether you're looking for help submitting a query, tracking its status, or understanding the features of the system, this page is your go-to resource.
        </p>
    </div>
</div>