body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 58px 0px 10px 0 ;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.3s ease;
    background-color: white; /* Background color */
}

.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    padding-bottom: 0px; /* Padding at the bottom */
    overflow: hidden;
}

#sidebar.sidebar-collapsed {
    width: 60px; /* Adjust to the width when collapsed */
}

.container {
    margin-left: 250px;
    padding: 0px;
    transition: margin-left 0.3s ease;
}

#sidebar.sidebar-collapsed + .container {
    margin-left: 60px; /* Match the collapsed width */
}

#sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

    #sidebar .nav-link .icon {
        width: 24px;
        height: 24px;
        margin-right: 15px;
        transition: margin-right 0.3s ease;
    }

#sidebar.sidebar-collapsed .nav-link .icon {
    margin-right: 0;
}

#sidebar.sidebar-collapsed .nav-link {
    justify-content: center;
    text-align: center;
}

    #sidebar.sidebar-collapsed .nav-link span {
        display: none;
    }

.logo {
    padding-bottom: 10px;
    text-align: center;
    transition: all 0.3s ease;
  
}

#sidebar.sidebar-collapsed .logo {
    padding: 10px;
    text-align: center;
}

.user-profile {
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    transition: padding 0.3s ease;
}

#sidebar.sidebar-collapsed .user-profile {
    padding: 0;
}

    #sidebar.sidebar-collapsed .user-profile div.ms-2 {
        display: none;
    }

/* Ensure all icons are the same size */
.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Adjust padding and alignment for the menu button */
#sidebarToggle {
    background: none;
    border: none;
    padding: 10px; /* Adjust padding as necessary */
    margin-left: 15px; /* Adjust margin to align the button */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the button horizontally */
    position: absolute; /* Place it wherever you want in the sidebar */
    top: 15px; /* Adjust top spacing */
    right: 15px; /* Align it to the right inside the sidebar */
}


#sidebar.sidebar-collapsed #sidebarToggle {
    right: 5px; /* Adjust position when the sidebar is collapsed */
}

    #sidebarToggle img.icon {
        width: 24px;
        height: 24px;
    }

/* Adjust padding and alignment for the logout button */
form button {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    form button img.icon {
        width: 24px;
        height: 24px;
    }

#sidebar.sidebar-collapsed form button span {
    display: none;
}
