@* AllTickets.cshtml *@
<div class="tickets">
    <div class="ticket">
        <div class="ticket-header">
            <span class="ticket-id">Ticket# 2023-CS123</span>
            <span class="ticket-priority">High Priority</span>
        </div>
        <div class="ticket-body">
            <p>How to deposit money to my portal?</p>
            <span class="ticket-time">Posted at 12:45 AM</span>
        </div>
        <div class="ticket-footer">
            <span class="ticket-author">Shakashi Patel</span>
            <a href="#">Open Ticket</a>
        </div>

        <div class="ticket-body">
            <p>How to deposit money to my portal?</p>
            <span class="ticket-time">Posted at 12:45 AM</span>
        </div>0
        <div class="ticket-footer">
            <span class="ticket-author">Shakashi Patel</span>
            <a href="#">Open Ticket</a>
        </div>


        <div class="ticket-body">
            <p>How to deposit money to my portal?</p>
            <span class="ticket-time">Posted at 12:45 AM</span>
        </div>
        <div class="ticket-footer">
            <span class="ticket-author">Shakashi Patel</span>
            <a href="#">Open Ticket</a>
        </div>

    </div>
    <!-- Repeat ticket structure as needed -->
</div>

<div class="pagination">
    <span>Previous</span>
    <span class="page-number">1</span>
    <span class="page-number">2</span>
    <span>Next</span>
</div>
